In [6]:
# Import necessary libraries
import sqlite3
import pandas as pd

In [7]:
# Create an SQLite in-memory database
conn = sqlite3.connect(':memory:')

In [8]:
# Create a sample table called 'employees'
conn.execute('''
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    position TEXT NOT NULL,
    salary REAL NOT NULL
);
''')

In [9]:
# Insert sample data into the 'employees' table
conn.execute("INSERT INTO employees (name, position, salary) VALUES ('John Doe', 'Software Engineer', 80000);")
conn.execute("INSERT INTO employees (name, position, salary) VALUES ('Jane Smith', 'Data Scientist', 85000);")
conn.execute("INSERT INTO employees (name, position, salary) VALUES ('Mike Brown', 'Product Manager', 90000);")

In [10]:
# Commit the changes
conn.commit()

In [11]:
# Define a function to run SQL queries and return the results as a DataFrame
def run_query(query, conn):
    return pd.read_sql_query(query, conn)